/* Styles given by the challenge */
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

.attribution {
    color: white;
    font-size: 11px; 
    text-align: center; 
    padding-bottom: 15px;
    background-color: black;
    font-family: 'Josefin Sans', sans-serif;
}

.attribution a { 
    color: orange; 
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

/*** landing section ***/
.landing-section{
    padding: 5%;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./images/desktop/image-hero.jpg);
}

.slogan{
    width: 30%;
    padding: 4%;
    font-size: 2rem;
    min-height: 175px;
    margin: 30px 4% 0;
    border: 2px solid white;
}

nav{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .header{
    margin: 4%;
}

nav .main-menu{
    display: flex;
    list-style: none;
}

nav .main-menu, li a{
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

a:hover, div .footer-icons{
    text-decoration: underline;
    cursor: pointer;
}

nav .open-menu {
    margin: 6%;
    display: none;
    cursor: pointer;
}

nav .main-menu .close-menu{
    display: none;
    cursor: pointer;
}

nav .main-title{
    margin: 6px;
    cursor: pointer;
}

.vr-info{
    width: 70%;
    display: flex;
    margin: 0 auto 3%;
    align-items: center;
}

.vr-image-mobile{
    display: none;
}

.vr-image-desktop{
    width: 60%;
    margin: 10% auto 5%;
}

.description-container{
    align-self: flex-end;
    margin-bottom: 4%;
    margin-left: -100px;
    background-color: white;
    padding: 5%;
}

.description-title{
    width: 87%;
    margin: 0 auto;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.description-paragraph{
    width: 80%;
    margin: 3% auto;
    text-align: center;
}

/* Our creations*/
.creations{
    width: 80%;
    display: flex;
    margin: 0 auto 4%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.creations-title{
    text-transform: uppercase;
}

.title-and-button-container{
    width: 87%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.button{
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: white;
}

.button:hover{
    color: white;
    cursor: pointer;
    background-color: black;
}

.see-all-button-mobile{
    display: none;
}

.creations-images-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.with-text{
    width: 100%;
    margin: 2% auto;
    position: relative;
    text-transform: uppercase;
}

.with-text img{
    width: 100%;
}

.with-text img:hover{
    filter: opacity(50%);
    cursor: pointer;
}

.creation-desktop{
    height: 500px;
}

.creation-mobile{
    display: none;
}

.with-text p {
    width: 47%;
    z-index: 1;
    left: 12px;
    bottom: 12px;
    color: white;
    font-size: 1.5rem;
    position: absolute;
}

/*   Footer   */
.footer{
    padding: 15px;
    display: flex;
    color: white;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: black;
}

.footer .website-info .logo{
    width: 70%;
    display: block;
    margin: 5% auto 2%;
}

.footer-link-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-link-container a{
    margin: 2%;
    color: white;
    text-decoration: none;
}

.footer-icons{
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: center;
}

.footer-icons img{
    margin: 0 10px;
}

/******************** MOBILE VERSION *******************/
@media only screen and (max-width: 800px){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

        /*** landing section ***/
    .landing-section{
        min-height: 635px;
        background-image: url(./images/mobile/image-hero.jpg);
    }

    .slogan{
        width: 75%;
        padding: 7%;
        min-height: 175px;
        margin: 90px auto 0;
    }

    nav{
        padding: 10% 2%;
    }

    nav .main-menu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        transition: top 1000ms ease;
        display: none;
        padding: 15%;
    }

    nav .main-menu li {
        margin: 4% 0;
    }

    nav .main-menu li a {
        font-size: 1.4rem;
        font-weight: 300;
    }

    nav .main-menu .close-menu{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-bottom: 25%;
    }

    nav .main-menu .close-menu .logo-hamburger, nav .main-menu .close-menu .close-icon{
        margin-top: 0;
    }
    nav .open-menu{
        display: block;
    }

    /****** VR SECTION ********/
    .vr-info{
        width: 90%;
        margin-bottom: 9%;
        flex-direction: column;
    }

    .vr-image-desktop{
        display: none;
    }
    
    .vr-image-mobile{
        display: initial;
        width: 100%;
        margin: 14% auto 5%;
    }

    .description-container{
        margin: 0;
    }

    /****** OUR CREATIONS ******/
    .see-all-button-desktop{
        display: none;
    }

    .see-all-button-mobile{
        display: initial;
    }

    .button{
        margin: 4% 0 8%;
    }

    .creations-images-container{
        display: flex;
        flex-direction: column;
    }

    .creation-mobile{
        display: initial;
    }

    .creation-desktop{
        display: none;
    }

    /******* FOOTER *******/
    .footer{
        padding: 15px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .footer-link-container{
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}